<!-- application_explain -->
	<div>
		<div class="col-lg-6 col-lg-offset-2" style="padding-top: 5rem;">
			<div>
				<p style="font-size: 6rem;">まだ紙のお薬手帳を使ってるの？</p>
				<p style="font-size: 3rem;">
					インターネット上で使えるお薬手帳です<br>
					面倒な入力は医療従事者にお任せ！<br>
					必要な時にいつでも情報が引き出せます<br>
				</p>
			</div>
		</div>

		<div class="col-lg-4">
			<%= image_tag '/assets/notebook.png' , width: "50%" %>
		</div>
	</div>
<!-- application_explain -->

<!-- application_feature_summary -->
	<div>
		<!-- application_feature_detail1 -->
			<div class="col-lg-4 col-lg-offset-1">
				<p style="font-size: 5rem;">アプリケーションの特徴 1</p>
				<p style="font-size: 2rem;">
					お薬手帳の記録は薬局のみ実施できます。<br>
					名前が似ている薬は間違いやすいから詳しい人に任せた方が安心！<br>
				</p>
			</div>
		<!-- application_feature_detail1 -->

		<!-- application_feature_detail2 -->
			<div class="col-lg-4 col-lg-offset-2">
				<p style="font-size: 5rem;">アプリケーションの特徴 2</p>
				<p style="font-size: 2rem;">
					アカウント登録が済んだ段階では、勝手に個人情報を知られる事はありません。<br>
					自分で情報公開を公開できる薬局を設定できます。<br>
				</p>
			</div>
		<!-- application_feature_detail2 -->
	</div>
<!-- application_feature_summary -->
