<!-- application_explain -->
<div style="text-align: center; background-color: gold; height: 600px;">アプリの説明文や画像など</div>
<!-- application_explain -->

<!-- application_feature_summary -->
<div>
	<!-- application_feature_detail1 -->
	<div style="display: inline-block; background-color: yellow; height: 400px; width: 49%;">アプリの機能１</div>
  <!-- application_feature_detail1 -->

	<!-- application_feature_detail2 -->
	<div style="display: inline-block; background-color: lightyellow; height: 400px; width: 49%;">アプリの機能２</div>
	<!-- application_feature_detail2 -->
</div>
<!-- application_feature_summary -->
