<div class="nested-fields">
  <div>
    <%= f.label t('activerecord.attributes.medicine.name') %>
    <%= f.select :medicine_id, Medicine.choices %>
  </div>

  <%= link_to_remove_association "孫1を削除", f %>
</div>
