<h1><%= t('activerecord.title.medicine_notebook_record.new', user_name: @user.name ) %></h1>
<hr>

<%= render partial: "form", locals: { medicine_notebook_record: @medicine_notebook_record, user: @user} %>
